<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order Placed, <%= @user.first_name %></h1>
    <p>
      Order placed successfully,
      your email is: <%= @user.email %>.<br>
    </p>
    <p>Thanks for joining and shopping ,have a great day!</p>
  </body>
</html>