<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> HELLO,<%= @user.first_name %> </h1>
    <h4> <%= @product.product_name %> is Available Now,at only ₹<%=@product.product_price%> </h4>
    <p>
      Hurry Up and Buy it.
    </p>
    <p>Thanks for joining with us,have a great day!</p>
  </body>
</html>