<div class="row">
  <div class="card mb-4 mb-md-0 ">
    <div class="card-body review">
      <h5>Reviews </h5>
      <%counter = 0%>
        <table>
      <% @product.product_reviews.each do |review| %>
        <%counter +=1%>
        <tr>

        <td>
          <p><h7><%= review.review%></h7></p>
        </td>

        <td style="padding:0 35px 0 35px;">
        <p>
         <% if current_user.present? %>
          <%current_user.orders.where(order_status:'delivered').each do |order| %>

            <%if order.products.include? @product %>

              <%= link_to 'edit', edit_product_review_path(:id => review.id,:product_id => @product.id),  {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: 'btn btn-outline-secondary btn-sm'}  %>
              <div id="modal-window" class="modal hide fade m-5" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
                </div>
              </div>
        </td>

        <td>
            <%= link_to 'delete', product_review_path(:id => review.id,:product_id => @product.id),
            method: :delete,class:"btn btn-outline-danger btn-sm"%> </p>
            <%end%>
             <%break if order.products.include? @product%>
          <%end%>
        <%end%>
        </td>
      </div>
    
      <%end%>
      <hr>
    
    </div>
  </div>
</div>


